@font-face{
	font-family: BebasNeue-Regular;
	src: url(./Fonts/BebasNeue-Regular.ttf);
	font-weight: bold;
}
@font-face{
	font-family: Montserrat-Light;
	src: url(./Fonts/Montserrat-Light.ttf);
	font-weight: bold;
}
@font-face{
	font-family: Montserrat-Regular;
	src: url(./Fonts/Montserrat-Regular.ttf);
	font-weight: bold;
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(./Fonts/Montserrat-Bold.ttf);
	font-weight: bold;
}
@font-face{
	font-family: TrendSansOne;
	src: url(./Fonts/TrendSansOne.ttf);
	font-weight: bold;
}
@font-face {
    font-family: ThirstyScript-ExtraBold;
    src: url(./Fonts/ThirstyScriptExtraBoldDemo.otf);
  }
.App{
    overflow: hidden;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: TrendSansOne;
}
h1{
    font-size: 50px;
}
/*Helpers*/
.sw{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.ssw{
    max-width: 1600px;
}
button {
	cursor: pointer;
    padding: 13px 20px;
    outline: none;
    border: none;
    border-radius: 18px;
}
@media screen and (max-width: 992px) {
    .btn-hc{
        display: unset;
    }
    p, span, td{
        font-size: 14px;
    }
    h1{
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 18px;
    }
  }
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
    p, span, td{
        font-size: 12px;
    }
    h1{
        font-size: 32px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 16px;
    }
    h4{
        font-size: 13px;
    }
    button {
        padding: 10px 15px
    }
  }