.card-item-order {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    margin: auto;
}
.order-wrapper{
    margin: auto;
}
.order-content-wrapper  {
    padding: 20px 0;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.order-card button {
    padding: 10px 15px;
    margin: 10px auto;
    background-color: #4a4861;
    color: #fff;
    transition: 0.2s;
    border: 1px solid #4a4861;
}
.order-card button:hover {
    background-color: #fff;
    color: #4a4861;
    transition: 0.2s;
    box-sizing: border-box;
}
.order-card {
    box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 40%);
    padding: 15px;
    max-width: 172px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.card-description-order {
    min-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}